#bottom-editor {
	background-color: red;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}
div#navbar {
	z-index: 10;
}
#code{
	z-index: 0;
	position: relative;
	float: left;
}
#nav{
  color: red;
}
#tree {
	margin-right: 10px;
	max-width: 250px;
}
.custom > li > a:hover {
    color: transparent;
}
div.sizable {
    resize:both;
    overflow:auto; /* something other than visible */
}
textarea {
    resize: none;
}
.treeview .list-group-item{cursor:pointer}
.treeview span.indent{margin-left:10px;margin-right:10px}
.treeview span.icon{width:12px;margin-right:5px}
.treeview .node-disabled{color:silver;cursor:not-allowed}
#outer::selection {
  background: #FF5E99;
}
#outer {
  bottom:0;
  left: 25%;
  position: fixed;
  width: 50%;
  height: 400px;
  overflow-y: auto;
  margin: 0;
  z-index: -1;
}
ul.nav li a, ul.nav li a:visited {
  color: grey !important;
}
ul.nav li a:hover, ul.nav li a:active {
  color: red !important;
  background-color: transparent;
} 
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}
ul.nav li.active a {
  color: red !important;
    background-color: transparent;
}
a {
  color: inherit;
}
#outer {
  font-size: 11pt;
  font-family: Inconsolata, monospace;
  color: white;
  background-color: black;
}
#inner {
  padding: .1em 1.5em 1em 1em;
}
#inner output {
  clear: both;
  width: 100%;
}
#inner output h3 {
  margin: 0;
}
#inner output pre {
  margin: 0;
}
.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}
.input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.prompt {
  white-space: nowrap;
  color: #96b38a;
  margin-right: 7px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}
.ls-files {
  height: 45px;
  -webkit-column-width: 100px;
  -moz-column-width: 100px;
  -o-column-width: 100px;
  column-width: 100px;
}
.dropdown-menu {
  background-color: lightgrey;
  color: black;
}