<footer id="footer" class="top-space">
	<div class="footer1">
		<div class="container">
			<div class="row">
				<div class="col-md-1 pull-left">
					<div style="width:140px;">
						<a href="/"><img style="margin-top:-5px" src="assets/images/netcode.gif"/></a>
					</div>
				</div>
				<div class="col-md-6 pull-right">
					<div style="float:right;">
						<h5><p class="text-center" style="float:center;">NetCode Copyright &copy; 2018</p></h5>
					</div>		
				</div>
			</div>
		</div>
</footer>	