<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NetCode</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css.map"/>
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css.map"/>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel=stylesheet href="codemirror/lib/codemirror.css">
	<link rel=stylesheet href="codemirror/doc/docs.css">
	<script src="codemirror/lib/codemirror.js"></script>
	<script src="codemirror/mode/xml/xml.js"></script>
	<script src="codemirror/mode/javascript/javascript.js"></script>
	<script src="codemirror/mode/css/css.js"></script>
	<script src="codemirror/mode/htmlmixed/htmlmixed.js"></script>
	<script src="codemirror/addon/edit/matchbrackets.js"></script>
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<title>NetCode</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="home">
	{{ template "navbar.html" . }}
	<div class="container" style="min-height:500px;">
	<center>
		<h1 style="color:white">Create a new Project!</h1>
	</center>
	<hr>
	<form method="post">
		<div class="form-group col-lg-12">
			<div class="form-group ">
			  <label for="usr">Project Name</label>
			  <input type="text" class="form-control" id="usr">
			</div>
			<div class="form-group">
			<br>
			  <label for="desc">Description</label>
			  <textarea class="form-control" rows="5" id="comment"></textarea>
			</div>
			<div>
			<label for="sel1">Fork from github</label>
		      <select class="form-control" id="sel1">
		        <option>None</option>
		        <option>Project This</option>
		        <option>Project That</option>
		        <option>Project Beast</option>
		      </select>
			</div>
			<br>
		<button class="btn btn-md" type="submit">Create Project</button>
		</div>
	</form>
	
	<center>
		<h1 style="color:white">My Projects</h1>
	</center>
	<hr>
	<center>
		<h3 style="color:white">You have no projects! :(</h3>
	</center>
	</div>	<!-- /container -->

	{{ template "footer.html" . }}

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
	<!-- Added by me -->
	<script src="js/script.js"></script>

	
</body>
</html>